.btn-brand{
    background-image: linear-gradient(75deg, #111430, #111111);
    color:#FFFFFF;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    width: 150px;
  }
  .btn-brand:hover{
    color: #FFFFFF;
  }